:root {
  --background: #2a2a2a;
  --text-color-button: #000000ba;
  --light-text: #f0f0f0;
  --primary: #ffc107;
  --secondary-text-color: #6b6b6b;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--light-text);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/*INICIAL*/

.hero-header {
  width: 100%;
  min-height: 50rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1492691527719-9d1e07e534b4') center center / cover no-repeat;

  article {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45rem;

    @media (max-width: 600px) {
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


    }
  }
  
}

header {
  padding-top: 3rem;
  font-size: 1.25rem;
  font-weight: lighter;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

h1 {
  color: var(--primary)
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;

      @media (max-width: 600px) {
        font-size: 0.9rem;
        text-align: center;
        gap: 0.6rem;
      

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}

.nav-link {
  text-decoration: none;
  color: var(--light-text);
}

.nav-link:hover {
  border-bottom: 0.06rem solid var(--secondary-text-color);
}

.titulo-header {
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 4rem;
  margin-bottom: 0;
  text-shadow: 0.06rem 0.06rem 0.1rem #000000;

  @media (max-width: 600px) {
    font-size:2rem;
  }
}

.info-header {
  font-size: 1.3rem;
  font-weight: bolder;
  margin-top: 0;
  font-weight: lighter;  
}

.button-contact {
  background-color: var(--primary);
  color: var(--light-text);
  border: none;
  border-radius: 0.3rem;
  padding: 1rem;
  width: 100%;
  max-width: fit-content;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;


      @media (max-width: 600px) {
        padding: 0.3rem;
        font-size: 0.7rem;
        text-align: center;
        gap: 0.6rem;
      

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}

@keyframes example {
  25% {
    background-color: var(--light-text);
  }

  100% {
    background-color: var(--primary);
  }
}

.button-contact:hover {
  transform: translateY(-0.1rem);
}

.button-contact:active {
  transform: translateY(0);
}

.link-button {
  color: var(--text-color-button);
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/*QUEM SOU*/

#quem-sou {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
  color: var(--primary);
  text-align: center;
}

.photo-container img {
  max-width: 100%;
  width: 125rem;
  height: 15rem;
  border-width: 0rem 0rem 0.1rem 0.15rem;
  border-color: var(--primary);
  border-radius: 0.3rem;
}

.quem-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  @media (max-width: 37.5rem) {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.photo-container {
  position: relative;
  width: 18rem;
  height: 21rem;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.photo-container::after {
  content: '';
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 100%;
  height: 100%;
  border: 0.1rem solid var(--primary);
  z-index: -1;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}


.quote-box {
  background-color: var(--background);
  padding: 1.8rem;
  margin-top: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 1, 1);
  color: var(--light-text);
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.quem-intro {
  line-height: 1.6;
  text-shadow: 0.2rem 0.4rem #000000;
}

.quem-hist {
  line-height: 1.6;
  text-shadow: 0.2rem 0.4rem #000000;
}


.contact {
  color: var(--primary);
  text-decoration: none;
}

/*GALERIA*/

.section-title {
  padding: 1rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  overflow: hidden;
}

.gallery-grid img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 0.6rem;

  @media (max-width: 600px) {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 37.5rem) {
  .gallery-img-1 {
    grid-area: 1 / span 6;
  }

  .gallery-img-2 {
    grid-area: 2 / span 6;
  }

  .gallery-img-3 {
    grid-area: 3 / span 6;
  }

  .gallery-img-4 {
    grid-area: 4 / span 6;
  }

  .gallery-img-5 {
    grid-area: 5 / span 6;
  }

  .gallery-img-6 {
    grid-area: 6 / span 6;
  }
}

.gallery-grid img:hover {
  transform: scale(0.95);
}

/*SERVIÇOS*/

#servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#servicos h2 {
  text-align: center;
}

.servicos-lista li {
  font-size: 1.1rem;
  margin: 1rem;
  padding: 0.5rem;
  border-bottom: 0.06rem solid black;
  list-style: none;
}

/*CONTATE-ME*/

fieldset {
  border: none;
  padding: 0;
}

#contato-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contato-form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  max-width: 25rem;
}

.form-label {
  margin-bottom: 0.6rem;
  font-weight: bold;
  text-align: left;
  color: var(--light-text);
}

.form-input,
.form-textarea,
.contato-form select {
  width: 100%;
  padding: 0.6rem;
  background-color: var(--background);
  border: 0.06rem solid var(--secondary-text-color);
  border-radius: 0.3rem;
  color: var(--light-text);
  font-size: 0.8rem;
  transition: all 0.3s ease;
  box-sizing: border-box;
  display: block;
}

.form-input:focus,
.form-textarea:focus,
.contato-form select:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0.5rem rgba(109, 122, 11, 0.293);
  outline: none;
}

::placeholder {
  color: var(--light-text);
}

.button-contato-form {
  padding: 0.6rem;
  background-color: var(--primary);
  color: var(--light-text);
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  width: 100%;
}

.button-contato-form:hover {
  transform: translateY(-0.1rem);
}

textarea {
  resize: none;
  min-height: 5rem;
}

/*FOOTER*/

.footer-container {
  background-color: var(--background);
  color: var(--light-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 15rem;
}

#img-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imgx {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3rem;
}

.logo-text {
  font-size: 1rem;
}

h5 {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 0%;
}

#redesociais {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.copyright-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 0.93rem;
  border-top: 0.07rem solid black;
  font-size: 0.8rem;
  color: var(--primary);
}